@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700;800&display=swap');

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    background-image: url(bg.png);
    background-size: cover;
}

#app-root {
    width: 100%;
    height: 100%;
    /* background-color: #2e004d; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1 {
    text-align: center;
    margin: 0;
    color: white;
}

.random-number {
    width: 40%;
    color: black;
    font-size: 5rem;
    background-color: white;
    text-align: center;
    max-width: 300px;
}
.number-input {
    width: 30%;
    height: 70px;
    max-width: 200px;
}

input {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 2rem;
    font-family: inherit;
}

.check button {
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    font-family: inherit;
    font-weight: 500;
}

.check button:active {
    background-color: purple;
    color: white;
}

.helper {
    width: 60%;
    color: white;
    font-size: 1.7rem;
    text-align: center;
    margin-top: 1rem;
}

.score {
    color: white;
    width: 50%;
    font-size: 1.5rem;
    text-align: center;
}

.score span {
    color: green;
}

.highscore {
    color: white;
    width: 50%;
    font-size: 1.5rem;
    text-align: center;
}

.highscore span {
    color: yellow;
}

.play-again {
    width: 50%;
    text-align: center;
}

.play-again button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-family: inherit;
    font-weight: 500;
}

.play-again button:active {
    background-color: purple;
    color: white;
}

.instructions {
    width: 90%;
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

@media (max-width: 320px){

    .instructions {
        width: 100%;
    }

    .helper {
        width: 100%;
    }

    button {
        padding: 0.5rem 1rem;
    }
}

@media (min-height: 64rem) {
    * {
        font-size: 1.5em;
    }

    .number-input {
        height: 100px;
    }
    #app-root {
        height: 95%;
    }
}


